html{
    background: linear-gradient(45deg, rgb(233, 255, 145), rgb(250, 255, 191)), rgb(255, 255, 255);
}
#Name{
    background-color: rgb(255, 255, 255);
    width:400px;
    height:300px;
    position:relative;
    left:50px;
    top:100px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(82, 82, 82, 0.507);
    border-radius: 10px;
    font-family: cursive;
}
#Photo{
    align-items: center;
}

#INFO1{
    background-color:rgb(255, 255, 255);
    width:400px;
    height:200px;
    position:relative;
    left:500px;
    bottom:200px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: cursive;
}

#INFO2{
    background-color:rgb(255, 255, 255);
    width:400px;
    height:200px;
    position:relative;
    left:500px;
    bottom:100px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: cursive;
}

#PO{
    padding:15px;
    font-size:25px;
    text-align:left;
}

#INFO3{
    background-color:rgb(255, 255, 255);
    width:400px;
    height:600px;
    position:relative;
    left:950px;
    bottom:600px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: cursive;
}

#INFO4{
    background-color:rgb(255, 255, 255);
    width:400px;
    height:420px;
    position:relative;
    left:1400px;
    bottom:1200px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: cursive;
}

#PI{
    font-size:20px;
    text-align:left;
    padding:15px;
}